[Unit]
Description=Arch Linux Loong64 Mirror Sync
After=network-online.target
Requires=network-online.target

[Service]
Type=simple
User=root
ExecStart=/home/arch/mirror-sync.sh
LockPersonality=true
Restart=no
